# Proyecto Data Science I: Parte I

## Contenido:
[ABSTRACT](#abstract)
1. [Introducción](#introduccion)
    <br> 1.1. [Hipotesis Iniciales](#hipotesis)
2. [Descripcion del Dataset](#descripcion-dataset)
3. [Preparación inicial](#preparacion-inicial)
4. [Descripción de los datos](#descripcion-datos)
    <br> 4.1. [Información de los datos](#info-datos)
    <br> 4.2. [Describe - Variables Numéricas](#describe-numericas)
    <br> 4.3. [Describe - Variables No Numéricas](#describe-no-numericas)

## *ABSTRACT* <a class="anchor" id="abstract"></a>

AQUI VA EL ASTRACT

## 1. Introducción <a class="anchor" id="introduccion"></a>

El presente documento se analizará una fuente de datos que contiene información sobre los juegos olimpicos modernos. En ella existe información sobre los deportistas participantes, los deportes, los comités participantes, el país anfitrión de los respectivos juegos y los resultados en términos de medallas.

El objetivo de este trabajo será establecer el comportamiento de ciertas variables de interés como son:

* ¿Como ha evolucionado el número de participantes a lo largo del tiempo?
* ¿Como ha evolucionado el peso y estatura de los participantes?
* ¿Como ha evolucionado el numero de eventos/deportes?
* ¿Como ha evolucionado el numero de paises participantes?
* Establecer la distribución del medallero olímpico y evaluar cuales son los países mas exitosos en terminos del numero de medallas obtenidas
* Estudiar las variables anteriores separadas por género y análizar la participación femenina en los juegos olímpicos

### 1.1. Hipótesis Iniciales <a class="anchor" id="hipotesis"></a>

Se establecen las siguientes hipótesis iniciales respecto a las variables consideradas:

* El numero de los participantes ha aumentado a lo largo del tiempo
* El peso y estatura de los participantes ha aumentado en el tiempo
* El numero de deportes ha aumentado en el tiempo
* El numero de paises participantes ha aumentado en el tiempo
* La participación femenina ha aumentado en el tiempo

## 2. Descripción del Dataset <a class="anchor" id="descripcion-dataset"></a>

Este es un dataset historico con informacion sobre los juegos olimpicos de la era moderna, abarcando desde los juegos de Atenas 1896 hasta Rio 2016.

Las columnas que componen el dataset se describen a continuación

* ID - Numero único para cada atleta
* Name - Nombre del atleta
* Sex - Sexo masculino o femenino (M o F)
* Age - Edad como numero entero
* Height - Altura en centimetros
* Weight - Peso en kilogramos
* Team - Nombre del equipo
* NOC - Comité Olimpico Nacional (Codigo de 3 letras)
* Games - Año y temporada
* Year - Año de los juegos olimpicos
* Season - Temporada (verano o invierno)
* City - Ciudad anfitriona
* Sport - Deporte
* Event - Evento
* Medal - Medalla obtenida (Oro, plata, bronce o NA)

## 3. Preparación inicial <a class="anchor" id="preparacion-inicial"></a>

In [4]:
# Cargar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sb

from sklearn.impute import SimpleImputer

In [14]:
# Cargar datos
df = pd.read_csv(filepath_or_buffer="./datasets/athlete_events.csv")
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## 4. Descripción de los datos <a class="anchor" id="descripcion-datos"></a>

### 4.1. Información de los datos <a class="anchor" id="info-datos"></a>

La información de los datos muestra que tenemos un total de 271116 entradas, según la columna ID. Se observa que las siguientes columnas tienen entradas nulas:

* Age
* Height
* Weight
* Medal

En el caso de las columnas Age, Height y Weight, se presume que los datos faltantes no fueron encuestados, ingresados a la base de datos o se perdió la información. En el caso de la columna Medal, es esperable que existan muchos datos nulos, pues solo algunos competidores obtienen medallas olímpicas.

In [15]:
# Información del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

### 4.2. Describe - Variables Numéricas  <a class="anchor" id="describe-numericas"></a>

Se utiliza el metodo `describe()` para obtener los parámetros estadísticos mas relevantes de las variables numéricas del dataset. Las variables numéricas son:

* ID : Se identifica un total de 271116 entradas. Esta columna no tiene otra relevancia estadísticas, mas que para identificar las entradas.
* Age : Se observa un rango de edades de entre 10 y 97 años, con un promedio de 25.5 años y una desviación estándar de +/-6.4 años.
* Height : Se observa un rango de estaturas de entre 127 y 226 cm, con un promedio de 175.3 cm y una desviación estándar de +/-10.5 cm.
* Weight : Se observa un rango de pesos de entre 25 y 214 kg, con un promedio de 70.7 kg y una desviación estándar de +/-14.3 kg.
* Year : Se observa que los años considerados se encuentran entre 1896 y 2016.

In [16]:
# Descripción de variables numéricas
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

### 4.3. Describe - Variables No Numéricas  <a class="anchor" id="describe-no-numericas"></a>

Se utiliza el metodo `describe(exclude="number")` para obtener los parámetros estadísticos mas relevantes de las variables no-numéricas del dataset. Las variables no-numéricas son:

* Name :Se observa que de 271116 entradas hay 134732 únicas.
* Sex : Se observa que la mayor cantidad de participantes han sido Masculinos, con 196594 entradas.
* Team : El equipo con mayor cantidad de participanes es Estados Unidos.
* NOC : La comisión con mayor cantidad de participantes es USA.
* Games : Los juegos con mayor cantidad de participantes fueron los juegos olimpicos de verano de 2000.
* Season : La mayor cantidad de participantes han participado en juegos de verano.
* City : La mayor cantidad de participantes han participado en juegos realizados en Londres.
* Sport : El deporte con la mayor cantidad de participantes ha sido el Atletismo.
* Event : El evento con mayor cantidad de participantes ha sido el Futbol Masculino.
* Medal : La mayor cantidad de medallas han sido de oro.

In [17]:
# Descripción de variables categóricas
df.describe(exclude="number")

,Name,Sex,Team,NOC,Games,Season,City,Sport,Event,Medal
count,271116,271116,271116,271116,271116,271116,271116,271116,271116,39783
unique,134732,2,1184,230,51,2,42,66,765,3
top,Robert Tait McKenzie,M,United States,USA,2000 Summer,Summer,London,Athletics,Football Men's Football,Gold
freq,58,196594,17847,18853,13821,222552,22426,38624,5733,13372

## First <a class="anchor" id="first-bullet"></a>